* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body div {
  width: 30%;
  height: 200px;
  background-color: tomato;
  float: left;
  margin-top: 20px;
  margin-left: calc(10% / 6);
}

@media (max-width:600px){
    .box{
        
    }
}